html {
  height: 100%;
  z-index: 0;
  text-align: center;
}

body {
  background: url(../images/WorldMap.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.maincontent {
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  padding: 12px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(26, 27, 27, 0.432),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: linear-gradient(
    to right,
    rgba(235, 229, 210, 0.7),
    rgba(235, 234, 229, 0.6),
    rgba(235, 229, 210, 0.7)
  );
  z-index: 1;

  /* opacity: .25; */
}
.contentdiv {
  padding: 16px;
  font-size: 1rem;
  align-content: center;
}

#top {
  font-size: 2rem;
  text-align: center;
}
#timersection,
#resultImg,
#resultDiv,
#gameCard {
  display: none;
  text-align: center;
}

#resultImg{
  width: 30%;
  margin: auto;
  align-content: center;
  
}
#timerDiv,
#scoreDiv {
  /* background-color: navajowhite; */
  /* border: 1px dotted saddlebrown; */
  border-radius: 3px 9px;
  box-shadow: 0 3px 6px 0 rgba(26, 27, 27, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    to right,
    rgba(188, 179, 148, 0.8),
    rgba(208, 200, 160, 0.9),
    rgba(232, 220, 181, 0.8)
  );
  
  /* margin:0 auto; */
  text-align: center;
  font-size: 2rem;
  color: maroon;
}
#scoreDiv {
  color: green;
  /* font-size: 0.75rem; */
}

#bot {
  font-size: 0.5rem;
  width: 576px;
  background-image: linear-gradient(
    to right,
    rgba(235, 229, 210, 0.0),
    rgba(235, 234, 229, 0.9),
    rgba(235, 229, 210, 0.0)
  );
  text-align: center;
  position: fixed;

  bottom: 0;
}
#gameCard {
  text-align: center;
  align: center;
}
#startButton {
  cursor: pointer;
  padding: 6px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  color: midnightblue;
  font-size: 1.4rem;
  width: 33%;
  /* color: ivory; */
  /* background-color: burlywood; */
  /* border: 1px dotted saddlebrown; */
  border-radius: 3px 9px;
  box-shadow: 0 3px 6px 0 rgba(26, 27, 27, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    to right,
    rgba(188, 179, 148, 0.8),
    rgba(208, 200, 160, 0.9),
    rgba(232, 220, 181, 0.8)
  );
}

#gameQuestion {
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
  color: black;
}
.answerbtn {
  width: 100%;
  padding: 9px;
  margin: 3px auto;
  text-align: center;
  color: saddlebrown;
  font-size: 1.25rem;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    rgba(235, 229, 210, 0.1),
    rgba(227, 219, 179, 0.712),
    rgba(235, 229, 210, 0.1)
  );
}

#correctscreen,
#incorrectscreen,
#timesscreen, #finalscreen {
  display: none;
  /* position: absolute; */
  /* top: 33%;
  left: 50%; */
  opacity: 0.9;
  /* margin-top: -150px; */
  /* margin-left: -150px; */
  width: 100%;
  padding: 32px;
  padding-top: 96px;
  height: 100%;
  /* display: none; */
  background-color: green;
  color: white;
  font-size: 6rem;
  text-align: center;
  z-index: 5;
}
#incorrectscreen {
  background-color: red;
}
#timesscreen {
  background-color: dimgrey;
}
#finalscreen{
  /* display: block; */
  background-image: linear-gradient(
    to right,
    rgba(119, 162, 227, 0.8),
    rgba(79, 127, 198, 0.9),
    rgba(158, 205, 200, 0.923)
  );
}